[submodule "contracts/verified-bite/lib/forge-std"]
	path = contracts/verified-bite/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/verified-bite/lib/relay-context-contracts"]
	path = contracts/verified-bite/lib/relay-context-contracts
	url = https://github.com/gelatodigital/relay-context-contracts
